*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Allow vertical scrolling */
}

body {
  background-color: powderblue; /* Set desired background color */
  padding-bottom: 150px; /* Leave space for #permas */
}

h1, h2, h3, h4, h5, h6 {
  color: blue; /* Adjust as needed */
}

p {
  color: brown;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
/* Light bulb icon */
img[src="https://www.w3schools.com/images/lamp.jpg"] {
  max-width: 100px; /* Set a maximum width for the light bulb icon */
  height: auto; /* Maintain aspect ratio */
}
